$primary-0: #00a67c;
$primary-1: #1f7c65;
$primary-2: #006c51;
$primary-3: #35d2ab;
$primary-4: #5fd2b5;

$secondary-a-0: #ffd900;
$secondary-a-1: #bfaa30;
$secondary-a-2: #a68d00;
$secondary-a-3: #ffe240;
$secondary-a-4: #ffea73;

$secondary-b-0: #8f04a8;
$secondary-b-1: #70227e;
$secondary-b-2: #5d016d;
$secondary-b-3: #bc38d3;
$secondary-b-4: #c262d3;

$header-bg: #022b51;
$white: #fff;